.body{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-size: 1.6rem;
	&__user{
		flex: 10% 0 0; 
		   
	}   
	&__messeger{  
		flex: 77% 0 0;   
		overflow-y: scroll;  
		&::-webkit-scrollbar {
		  width: 30px;
		  border-radius: 100px;  
		}
		&::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
									border-radius: 100px;};  
		&::-webkit-scrollbar{width:1.5rem;background-color:#6C7B95;};                      
		&::-webkit-scrollbar-thumb{background-color:#484d79; border-radius: 100px;};       
	}    
	&__send{  
		flex: 13% 0 0;  
	}      
}    

.body{
	height: 85vh;
	background-color: #6C7B95;
	flex: 75% 0 0;
	box-shadow: 0 3rem 2.5rem rgba(7,7,7,0.16);
	border-radius: 1.5rem;
	&__messeger{
		display: flex;
		flex-direction: column-reverse; 
              
		padding: 0 2rem;           
		&--1{
			align-self: flex-end;      
			display: flex;
			flex-direction: column;      
		}
		&--2{
			align-self: flex-start;      
			display: flex;    
			flex-direction: column;        
		}  
		&-content{
			margin-bottom: 2rem;   
			display: inline-block;
			padding: 1.75rem 2rem;   
			background-color: #464159;
			color: #fff;
			border-radius: 1rem; 
			
		}
	}
	&__send{
		display: flex;
		justify-content: center;       
		align-items: center;    
		border-top: 1px solid #424874; 
		margin: 0 2rem; 
		& > *{
			margin-right: 2rem; 
		} 

		&--input{
			width: 80%;       
		}
		&--icon{
			height: 4rem;
			width: 4rem;       
			cursor: pointer;
			fill:  #464159;   
		}
		button {
			background-color: #6C7B95;         
			outline: none;    
			//transform: rotate(-4deg)
			transition: all 0.2s;        
			text-shadow: 0 1rem 4rem rgba(0,0,0,0.2);   
			border: none;        
			&:focus{  
				transform: scale(1.05);                
				outline: none;        
			}
			&:hover{
				transform: rotate(-10deg);    
			}
		}
	}    
}